n8n-uav-yolo/workflow/UAV-Surveillance-Agent.json
[
  {
    "updatedAt": "2026-07-18T10:35:42.865Z",
    "createdAt": "2026-07-18T09:58:01.386Z",
    "id": "uHkk2tXLOH5W3qCW",
    "name": "UAV Surveillance Detection Agent",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "uav-detect",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "c8ccabc6-f37e-467d-b4c5-6db53eacddd5",
        "name": "Receive UAV Frame (Webhook)",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -656,
          112
        ],
        "webhookId": "uav-detect"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://detector:8000/predict",
          "sendBody": true,
          "contentType": "multipart-form-data",
          "bodyParameters": {
            "parameters": [
              {
                "parameterType": "formBinaryData",
                "name": "file",
                "inputDataFieldName": "file"
              }
            ]
          },
          "options": {}
        },
        "id": "3a2aa375-2e56-4900-bfcf-8bf7f8cc7fab",
        "name": "Run YOLO Detection",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -448,
          112
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 1
            },
            "conditions": [
              {
                "id": "c1",
                "leftValue": "={{ $json.count }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "27e220bd-fdbb-4c9e-8e3e-f3a50df1f853",
        "name": "Objects Detected?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -224,
          112
        ]
      },
      {
        "parameters": {
          "jsCode": "// Build a human-readable surveillance alert from YOLO detections\nconst d = $input.first().json;\nconst counts = {};\nfor (const det of d.detections || []) {\n  counts[det.class] = (counts[det.class] || 0) + 1;\n}\nconst summary = Object.entries(counts)\n  .map(([cls, n]) => `${n} ${cls}`)\n  .join(', ');\nconst persons = counts['person'] || 0;\nreturn [{\n  json: {\n    alert: true,\n    priority: persons > 0 ? 'HIGH — person detected' : 'normal',\n    summary: `UAV frame: ${d.count} object(s) detected (${summary})`,\n    latency_ms: d.latency_ms,\n    fps: d.fps,\n    detections: d.detections,\n    timestamp: new Date().toISOString()\n  }\n}];"
        },
        "id": "7f3a3544-41fe-4036-9224-4ca8b6598696",
        "name": "Build Alert",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          0,
          0
        ]
      },
      {
        "parameters": {},
        "id": "d4d15ea3-6169-48cf-af23-6d39d3e0cafd",
        "name": "Send Alert (connect Email/Telegram/Slack here)",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          224,
          0
        ]
      },
      {
        "parameters": {
          "jsCode": "return [{ json: { alert: false, summary: 'UAV frame: no objects detected', latency_ms: $input.first().json.latency_ms, timestamp: new Date().toISOString() } }];"
        },
        "id": "5e9ef23f-9d4f-4642-9ae1-633988b41ec4",
        "name": "No Detections",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          0,
          224
        ]
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "ca5229f5-bf29-410f-872a-85bd0bf69620",
        "name": "Respond With Result",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          448,
          112
        ]
      }
    ],
    "connections": {
      "Receive UAV Frame (Webhook)": {
        "main": [
          [
            {
              "node": "Run YOLO Detection",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Run YOLO Detection": {
        "main": [
          [
            {
              "node": "Objects Detected?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Objects Detected?": {
        "main": [
          [
            {
              "node": "Build Alert",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Detections",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Alert": {
        "main": [
          [
            {
              "node": "Send Alert (connect Email/Telegram/Slack here)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Alert (connect Email/Telegram/Slack here)": {
        "main": [
          [
            {
              "node": "Respond With Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "No Detections": {
        "main": [
          [
            {
              "node": "Respond With Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate",
      "availableInMCP": false,
      "timeSavedMode": "fixed",
      "callerPolicy": "workflowsFromSameOwner"
    },
    "staticData": null,
    "meta": null,
    "nodeGroups": [],
    "pinData": {},
    "versionId": "f328ad5d-97f0-41f4-b310-ce808e60b508",
    "activeVersionId": "f328ad5d-97f0-41f4-b310-ce808e60b508",
    "versionCounter": 4,
    "triggerCount": 1,
    "sourceWorkflowId": null,
    "tags": [],
    "shared": [
      {
        "updatedAt": "2026-07-18T09:58:01.393Z",
        "createdAt": "2026-07-18T09:58:01.393Z",
        "role": "workflow:owner",
        "workflowId": "uHkk2tXLOH5W3qCW",
        "projectId": "z8veOSNDddtaUEvn",
        "project": {
          "updatedAt": "2026-07-05T17:22:16.818Z",
          "createdAt": "2026-07-05T17:19:32.577Z",
          "id": "z8veOSNDddtaUEvn",
          "name": "IMRAN RAZA <razaimam.bsit@gmail.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "customTelemetryTags": [],
          "creatorId": "f161ffd7-44c1-44fa-ac52-d165ce2fd58e"
        }
      }
    ],
    "versionMetadata": {
      "name": "Version f328ad5d",
      "description": ""
    }
  }
]